[Unit]
Description=ambeserver
Requires=network.target
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=5
SyslogIdentifier=ambeserver
WorkingDirectory=/ambeserver
ExecStartPre=/usr/bin/tvservice -o
ExecStart=/ambeserver/ambeserver.sh

[Install]
WantedBy=multi-user.target
